.match-detail
  .category
    font-size: 15px
    text-transform: uppercase
    color: $swatch-lavander-shade

  .name
    margin-bottom: 0

  .picture
    $size: 80px
    width: $size
    height: $size

  .vs
    font-size: 30px

@media screen and ( min-width: $media-larger-tablet )
  .match-detail
    .category
      font-size: 18px

    .vs
      font-size: 64px
        
    .picture
      $size: 160px
      width: $size
      height: $size
      border-width: 8px