.browse-match
  padding: 0 // overrides default section padding to make the scroller stretch from side to side

  .scroller
    box-sizing: border-box
    overflow: scroll
    display: flex
    flex-direction: row
    padding-bottom: $space-big // to avoid having the scroll bar so close


@media screen and ( min-width: $media-larger-tablet )
  .browse-match
    padding: $space-big 0 0 // restores padding to the top and bottom on desktop (double 0 because the scroller has its own padding for the scroll bar)