<template>
  <section class="section browse-match">
    <h2 class="padding-sides">Vote on similar games</h2>

    <!-- In case there is more than 1 match in the category -->
    <div v-if="store.matches.length > 1" class="scroller">
      <Card
        v-for="(item, index) in store.matches"
        :key="item.id"
        :prop="item"
        @click.native="chooseMatch(index)"
      />
    </div>
    <p v-else class="padding-sides">Sorry, there is no more games in this category</p>
  </section>
</template>

<script lang="ts">
// Vue components
import Vue from "vue";
import Card from "@/components/Card.vue";

// Other
import MatchStore from "@/stores/MatchStore";
import Utils from "@/utils/Utils";

export default Vue.extend({
  components: {
    Card
  },
  data() {
    return {
      store: MatchStore.data()
    };
  },
  methods: {
    chooseMatch(id: number) {
      this.store.index = id;
    }
  }
});
</script>