<template>
  <section class="section match-view">
    <MatchDetail :prop="currentMatch" />
    <hr />
    <p v-if="alreadyVoted" class="warning-sign">
      <img class="icon" src="@/assets/icons/info.svg" alt="Information icon" />You already voted for this game
    </p>
    <VoteControl v-else @voteCasted="onVoteCasted" :prop="currentMatch" />
  </section>
</template>

<script lang="ts">
// Vue components
import Vue from "vue";
import MatchDetail from "@/components/MatchDetail.vue";
import VoteControl from "@/components/VoteControl.vue";

// Stores
import UserStore from "@/stores/UserStore";
import MatchStore from "@/stores/MatchStore";

// Other
import IMatch from "@/interfaces/IMatch";
import Utils from "@/utils/Utils";
import IUserVote from "@/interfaces/IUserVote";

export default Vue.extend({
  components: {
    MatchDetail,
    VoteControl
  },
  computed: {
    currentMatch(): IMatch {
      return this.matchStore.matches[this.matchStore.index];
    },
    alreadyVoted(): Boolean {
      const checkVote: IUserVote = {
        objectId: this.currentMatch.objectId,
        voteType: 0
      };

      return UserStore.isExistingVote(checkVote);
    }
  },
  data() {
    return {
      matchStore: MatchStore.data(),
      userStore: UserStore.data()
    };
  },
  methods: {
    onVoteCasted(voteType: number) {
      const newVote: IUserVote = {
        objectId: this.currentMatch.objectId,
        voteType: voteType
      };

      alert("Thank you for voting, good luck!");
      UserStore.storeVote(newVote);
      this.changeMatch();
    },
    changeMatch() {
      const totalMatches = this.matchStore.matches.length;
      const currentIndex = this.matchStore.index;

      this.matchStore.index = Utils.randomizer(totalMatches, currentIndex);
    }
  },
  mounted() {
    this.changeMatch();
  }
});
</script>