<template>
  <article class="card">
    <Picture :prop="prop.homeName" />
    <Picture :prop="prop.awayName" />
    <br>
    {{prop.name}}
  </article>
</template>

<script lang="ts">
// Vue components
import Vue from "vue";
import Picture from "@/components/Picture.vue";

export default Vue.extend({
  components: {
    Picture
  },
  props: {
    prop: Object
  }
});
</script>