<template>
  <section class="match-detail">
    <span class="category">{{prop.sport}}</span>
    <h1>{{prop.group}} - {{prop.country}}</h1>

    <div class="columns matain-columns">
      <div class="column">
        <Picture :prop="prop.homeName" />
        <p class="name">{{prop.homeName}}</p>
      </div>
      <div class="column vertical-align">
        <span class="vs">VS.</span>
      </div>
      <div class="column">
        <Picture :prop="prop.awayName" />
        <p class="name">{{prop.awayName}}</p>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
// Vue components
import Vue from "vue";
import Picture from "@/components/Picture.vue";

export default Vue.extend({
  components: {
    Picture
  },
  props: {
    prop: Object
  }
});
</script>