<template>
  <img class="picture" :src="requestPicture(prop)" :alt="prop" />
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  methods: {
    requestPicture(fileName: string): string {
      const parsedName = fileName.replace("/", " and ");
      let result = "";
      console.log(parsedName);

      try {
        result = require(`@/assets/images/${parsedName}.png`);
      } catch (error) {
        result = require(`@/assets/images/placeholder.png`);
      }

      return result;
    }
  },
  props: {
    prop: String
  }
});
</script>