<template>
  <section class="vote-control">
    <h2>Who wins?</h2>

    <div class="columns">
      <div class="column" v-for="(label, index) in labels" :key="index">
        <button @click="emitVote(index)" :key="index">{{label}}</button>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  computed: {
    labels(): String[] {
      return [this.prop.homeName, "Draw", this.prop.awayName];
    }
  },
  methods: {
    emitVote(index: number) {
      this.$emit("voteCasted", index);
    }
  },
  props: {
    prop: Object
  }
});
</script>