<template>
  <div id="app">

    <header class="header padding-sides">
      <img class="icon" src="@/assets/icons/logo.svg" alt="Sport Poll logo" /> Sport Poll
    </header>

    <main id="container" class="vertical-align">
      <MatchView />
      <BrowseMatches />
    </main>
    
  </div>
</template>

<script lang="ts">
// Vue components
import Vue from "vue";
import BrowseMatches from "@/modules/BrowseMatch.vue";
import MatchView from "@/modules/MatchView.vue";

// Stores
import MatchStore from "@/stores/MatchStore";
import UserStore from "@/stores/UserStore";

// Other
import eSports from "@/interfaces/eSports";
import IMatch from "@/interfaces/IMatch";
import Utils from "@/utils/Utils";

export default Vue.extend({
  components: {
    BrowseMatches,
    MatchView
  },
  created() {
    const matches = require("@/assets/test-assignment.json");

    UserStore.init();
    MatchStore.init(matches);
  }
});
</script>

<style lang="sass">
html
  color: initial
</style>
