@import ./variables
@import ./swatches

html, body
  height: 100%
  margin: 0

#app
  height: 100%
  color: $color-text-primary
  font-family: $font-text
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.section
  box-sizing: border-box
  width: 100%
  padding: $space-big

hr
  margin: $space-big

// utils
.padding-sides
  padding: 0 $space-big

.vertical-align
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

@media screen and ( min-width: $media-larger-tablet )
  body 
    background-color: $color-background
  
  #container
    margin-top: $space-big

  .section
    width: 960px
    margin-bottom: $space-big
    background-color: white
    border-radius: 4px
    box-shadow: $shadow
